/*
* Exported all styles directly from Figma.
*/

/*
* Pallette:
* Main Dark: #37254E
* Desaturated Purple: #78668D
* Sky Blue: #B2B6E6
* Off White: #F4EDF6
* Hero Purple: #7F59AC
*/

.hero {
    /* Hero Text */
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 92px;

    color: #7F59AC;
}

h1 {
    /* Header 1 */
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;

    color: #37254E;
}

h2 {
    /* Header 2 */
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;

    color: #78668D;
}

h3 {
    /* Header 3 */
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;

    color: #78668D;
}

body {
    /* Main Body */
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #37254E;
    background-color: #F4EDF6; /* extra param to get the whole page's color right */
}

.subtitle {
    /* Caption or subtitle */
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #78668D;
}

a:visited {
    /* a, a:visited */
    font-family: 'Istok Web', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;

    color: #78668D;
}

a:active {
    /* a:active */
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;

    color: #37254E;
}

a:link {
    /* a:link */
    font-family: 'Istok Web', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;

    color: #37254E;
}

a:hover {
    /* Same as active */
    font-family: 'Istok Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;

    color: #37254E;
}

/**************** NAV *****************/

.navStyle {
    /* Custom styling for the background */
    background-color: #B2B6E6;
    color: #37254E;
    padding: 4px; /* looked this up bc that background was bothering me */
    position: sticky;
    top: 4px;
}

@media screen and not (max-width: 600px) {
    .mobile-disclaimer {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .mobile-disclaimer {
        /* The colors are special, and the rest is ripped from body */
        background-color: #37254E;
        color: #F4EDF6;
        font-family: 'Istok Web', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}

/************** BODY ******************/

.boxContainer {
    display: flex;
}

.threebox {
    width: 32%;
    padding: 8px;
    border-color: #78668D;
    border-style: inset; /* Intellisense (my savior) gave me this option and I was curious */
    background-color: #B2B6E6;
}

#week3center {
    margin-left: 4px;
    margin-right: 4px;
}